.hexagon {
    position: relative;
    width: 60px;
    height: 34.64px;
    background-color: #64C7CC;
    margin: 17.32px 0;
    border-left: solid 1px #333333;
    border-right: solid 1px #333333;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 42.43px;
    height: 42.43px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 7.7868px;
}

.hexagon:before {
    top: -21.2132px;
    border-top: solid 1.4142px #333333;
    border-right: solid 1.4142px #333333;
}

.hexagon:after {
    bottom: -21.2132px;
    border-bottom: solid 1.4142px #333333;
    border-left: solid 1.4142px #333333;
}
